{% extends 'base.html' %}

{% block content %}
<div class="form">
    <form action="" method="POST">
    {% csrf_token %}
        <div class="question">Вы дейстительно хотите удалить проект <span class="accent">{{ project.name }}</span>
            от компании <span class="accent">{{ project.customer_id }}</span>?</div>
        <input type="submit" class="delete_project" value="Удалить">
        <a class="cancel" href="{% url 'project_list' %}">Отмена</a>
    </form>
</div>
{% endblock %}